input, textarea{
  display: inline-block;
  margin-bottom: 20px;
  width: 99%;
  font-size: 16px;
  height: 35px;
  padding: 10px;
  line-height: 1.5em;
  border: 1px solid #e8e8e8;
  background-color: rgba(0,0,0,0.04);
  border-radius: 4px;
  font: 400 13.3333px Arial;
  outline: none;
}
textarea{
  height: 40vh;
}
input:focus, textarea:focus{
  border-color: #f2a60c;
  background-color: #fff;
}
.btn{
  font-size: 17px;
  color: white;
  line-height: 24px;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 4px 0;
  background-color: #f2a60c;
  border: 1px solid #f2a60c;
  border-radius: 4px;
}
.btn:hover{
  background-color: white;
  color: #f2a60c;
}
