/* You can add global styles to this file, and also import other style files */

/* reset*/
html, body, main, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  border: 0;
  font-size: 100%;
  font-weight:normal;
  vertical-align: baseline;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
button{
  outline:none;
}
/* main */

/*PT-Sans*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic');

/*icon fonts*/

@font-face {
  font-family: 'info';
  src: url('/assets/themes/base/fonts/fontello/info.eot?42295241');
  src: url('/assets/themes/base/fonts/fontello/info.eot?42295241#iefix') format('embedded-opentype'),
  url('/assets/themes/base/fonts/fontello/info.woff2?42295241') format('woff2'),
  url('/assets/themes/base/fonts/fontello/info.woff?42295241') format('woff'),
  url('/assets/themes/base/fonts/fontello/info.ttf?42295241') format('truetype'),
  url('/assets/themes/base/fonts/fontello/info.svg?42295241#info') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "info";
  font-style: normal;
  font-size: 1rem;
  color: #62554b;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 0.5em;
  margin-right: 0.2em;
  text-align: center;
  opacity: .8;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
[class^="icon-"]:hover::before, [class*=" icon-"]:hover::before {
  color: #f2a60c;
}
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */

/*main styles*/

html{
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #62554b;
}
header, main{
  width:100%;
  display: flex;
  flex-direction: row;
}
h1, h2{
  font-family: "Open Sans";
}
h2{
  font: 26px/1.4 normal;
  margin-bottom: 30px;
  font-weight: bold;
  color: #f2a60c;
}
main{
  margin:50px 0;
  justify-content:space-around;
  align-items: flex-start;
}





